#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	true # Nothing to do really

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/appmgr/usr install

VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(.*\)-.*/\1/p')
# 0.9~492-6a4e7ca -- <tag>~<rev>-<sha>
sha1 := $(shell dpkg-parsechangelog | sed -ne 's/^Version: .*\([0-9a-f]\{7\}\)-.*/\1/ p' 2>/dev/null )
tag := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \([0-9\.]\+\).*/\1/ p' 2>/dev/null )

get-orig-source:: $(if $(sha1), get-orig-source-SHA, get-orig-source-tag)

# Tempory version to build from a recent SHA1
get-orig-source-tag::
	rm -rf $@
	git clone git://github.com/trygvis/appmgr.git $@/appmgr
	cd $@/appmgr git checkout orig v$(tag) && git submodule update --init
	find $@/appmgr -depth  -type d -name .git -execdir rm -rf {} +
	cd $@ && tar -cf - appmgr | gzip -9f - > ../appmgr_$(VERSION).orig.tar.gz
	rm -r $@

get-orig-source-SHA::
	rm -rf $@
	git clone git://github.com/trygvis/appmgr.git $@/app.sh
	cd $@/appmgr git checkout -b orig $(sha1) && git submodule update --init
	find $@/appmgr -depth  -type d -name .git -execdir rm -rf {} +
	cd $@ && tar -cf - appmgr | gzip -9f - > ../appmgr_$(VERSION).orig.tar.gz
	rm -r $@
